/* soft-reset do css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-image: url("../img/meu fundo.jpg");
    background-size:auto;
    opacity: 0,3;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    width: auto

    
  }
  /* breakpoint */
/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
 body{
   font-size: 22px;
 }
  }
  header{
    height: 70vh;
    display: flex;
   justify-content: center;
   align-items: center; 
  }
  .menu a{
   display: block;
    padding: 15px 25px;
   
  }
  .menu{
    background-color: #22ff99;
   position: fixed;
   width: 100vw;
   top: 0;

  }
  a{
    color: teal;
    text-decoration: none;
  }
  a:hover {
  text-decoration: underline;  
  }
  
  .menu li{
    list-style: none;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
    
  }
  
  .site-title{
    font-family: 'Great Vibes', cursive;
      text-align: center;
    color: rgb(21, 60, 133)
  }
  
  .site-subtitle{
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    color: #111838;
    font-style: italic;
    line-height: 1.5em;
  }

  .Formação{
    font-family: 'Source Code Pro', monospace;
    margin: 1em;
    padding: 1em;
    text-align: center;
    font-style: oblique;
    height: 85vh;
    color:rgb(21, 60, 133)

  }